@keyframes slideColor {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#bmi-main {
  // background: linear-gradient(180deg, #F5F9F7 77.03%, rgba(245, 249, 247, 0.00) 100%);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  .bmi-container {
    position: relative;
    height: 100%;
    width: 100%;
    .bg-img {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 100%;
      width: 100%;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .header {
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(6.6666669845581055px);
      height: 72px;

      .header-wrap {
        width: 76%;

        .logo {
          img {
            width: 70px;
            // height: 42px;
          }
        }

        .links {
          gap: 80px;

          a {
            color: var(--c_secondary);
            font-family: PS-Haute;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
          }
        }

        a{
          border: none;
          outline: none;
          text-decoration: none;
          .user-profile {
              gap: 10px;
    
              .profile {
                width: 28px;
                height: 28px;
                border-radius: 50px;
    
                img {
                  width: 28px;
                  height: 28px;
                }
              }
    
              h1 {
                color: var(--c_secondary);
                font-weight: 400;
                margin-bottom: 0px;
                height: 14px;
              }
            }
        }
      }
    }

    .bmi-calculator-main {
      z-index: 2;
      .heading-info {
        flex-direction: column;
        .stepper {
          padding: 10px;
          gap: 10px;
          margin-top: 46px;

          .navigation-default.navigation-active {
            gap: 16px;

            .icon {
              background: var(--c_primary_two);
              box-shadow: 2.667px 5.333px 5.333px 0px rgba(255, 255, 255, 0.1)
                  inset,
                -2.667px -5.333px 5.333px 0px rgba(0, 0, 0, 0.1) inset;
            }

            h1 {
              color: var(--c_secondary);
            }
            .line-default {
              // background-color: var(--c_danger);
              background: linear-gradient(
                to right,
                var(--c_danger) 50%,
                #c4c4c4 50%
              );
              animation: slideColor 400ms linear infinite;
              background-size: 200% 100%;
            }
          }
          .navigation-default {
            gap: 16px;

            .icon {
              width: 32px;
              height: 32px;
              padding: 10px 16px;
              border-radius: 49px;
              background: #d0d0d0;
              box-shadow: 2.667px 5.333px 5.333px 0px rgba(255, 255, 255, 0.1)
                  inset,
                -2.667px -5.333px 5.333px 0px rgba(0, 0, 0, 0.1) inset;

              h2 {
                color: var(--c_white);
                text-align: center;
                font-family: PS-Haute;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 0px;
              }
            }

            h1 {
              color: #c4c4c4;
              font-family: PS-Haute;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin: 0px;
            }
            .line-default {
              width: 40px;
              height: 2px;
              background-color: #c4c4c4;
            }

            .line-active {
              width: 53.333px;
              height: 4px;
              // background-color: var(--c_danger);
            }
          }
        }
        .bmi-calc-mobile-heading {
          margin-bottom: 0px;
        }
        p {
          align-items: center;
          color: var(--c_danger);
          font-family: PS-Haute;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 0px;
        }
      }
      .bmi-calc-heading {
        margin-top: 36px;
        margin-bottom: 0px;
      }

      .bmi-form {
        display: none;
      }
      .contact-info {
        margin-top: 38px;
        .error-pill {
          position: absolute;
          top: 66px;
          background-color: #313131;
          border-radius: 4px;
          color: var(--c_white);
          left: 50%;
          transform: translate(-50%, -50%);
          // height: 40px;
          // width: 180px;
          padding: 14px;
          align-items: center;
          justify-content: center;
          margin-top: 0px;
          display: none;
          z-index: 10;
        }
        .form-wrap {
          gap: 25px;
          .input-container.error{
            .input-error {
              opacity: 1;

            }
            input{
              border: 1px solid var(--bg_danger);
            }
            
          }

          h1 {
            color: var(--c_secondary);
            text-align: center;
            font-family: PS-Haute;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0px;
          }

          .input-container {
            gap: 10px;

            h1 {
              color: var(--c_secondary);
              font-family: Roboto;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }

            input {
              padding: 20px;
              border-radius: 4px;
              width: 100%;
              box-sizing: border-box;
              width: 400px;
              height: 70px;
              border-radius: 10px;
              border: 1px solid #e9e9e9;
              background: var(--c_white);
              color: var(--c_secondary);
              font-family: Roboto;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              font-size: var(--fs_sm);
              &::placeholder {
                color: #c6cbda;
                font-style: italic;
              }

              &:focus {
                outline: none;
                border-radius: 13.333px;
                border: 1.333px solid var(--c_primary_two);
                background: var(--c_white);
              }
            }

            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            .input-wrapper {
              position: relative;

              h1 {
                color: var(--c_secondary);
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                position: absolute;
                left: 20px;
                top: 50%;
                bottom: auto;
                transform: translateY(-50%);
                font-size: var(--fs_sm);
              }

              input[type="number"]::-webkit-outer-spin-button,
              input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }

              input[type="number"] {
                -moz-appearance: textfield;
                padding-left: 60px;
              }
            }
            .input-error {
              display: flex;
              // position: absolute;
              opacity: 0;
              top: 94px;
              margin-bottom: 0px;
              color: var(--bg_danger);
              font-family: Roboto;
              font-size: var(--fs_xsm2);
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }

      .gender-select {
        padding-top: 95px;

        h1 {
          color: var(--c_secondary);
          text-align: center;
          font-family: PS-Haute;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0px;
        }
        .gender-card.active {
          border: 3px solid var(--c_primary_two) !important;
          background: var(--c_white);
          box-shadow: 10px 10px 20px 0px rgba(30, 117, 73, 0.25);
        }
        .gender-card-container {
          gap: 36px;

          .card {
            width: 282px;
            height: 281px;
            padding: 48px 20px;
            gap: 36px;
            border-radius: 14px;
            border: 3px solid #e9e9e9;
            background: var(--c_white);
            cursor: pointer;
            svg {
              width: 120px;
              height: 120px;
            }

            h1 {
              color: var(--c_secondary);
              text-align: center;
              font-family: PS-Haute;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin: 0px;
            }
          }
        }
      }

      .age-select {
        padding-top: 80px;

        h1 {
          color: var(--c_secondary);
          text-align: center;
          font-family: PS-Haute;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0px;
        }

        .radio-wrap {
          gap: 14px;
          .radio-input-container.active {
            border: 1px solid var(--c_primary_two);
          }
          .radio-input-container {
            width: 348px;
            padding: 20px;
            border-radius: 14px;
            border: 1px solid #e9e9e9;
            background: var(--c_white);
            cursor: pointer;
            user-select: none;
            input[type="radio"] {
              width: 20px;
              height: 20px;
              // Modify the appearance of the radio input
              // This might not work in all browsers
              cursor: pointer;
              &::-webkit-appearance {
                display: none;
              }
              &::-moz-appearance {
                display: none;
              }
              appearance: none;
              border: 2px solid var(--c_white); // Change border color and thickness
              border-radius: 50%; // Round the border to make it a circle
              outline: 2px solid #000; // Remove default focus outline

              &:checked {
                background-color: var(
                  --c_danger
                ); // Change background color when checked
              }
            }

            h1 {
              color: var(--c_secondary);
              font-family: Roboto;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              width: 214px;
              text-align: left;
              margin: 0px;
            }

            p {
              margin-bottom: 0px;
            }
          }

          // .radio-input-container {
          //     width: 348px;
          //     padding: 20px;
          //     border-radius: 14px;
          //     border: 1px solid #E9E9E9;
          //     background: var(--c_white);
          //     cursor: pointer;

          //     input {
          //         width: 24px;
          //         height: 24px;

          //         &:active {
          //             background-color: var(--c_danger);

          //         }
          //     }

          //     h1 {
          //         color: var(--c_secondary);
          //         font-family: Roboto;
          //         font-style: normal;
          //         font-weight: 500;
          //         line-height: normal;
          //         width: 214px;
          //         text-align: left;
          //         margin: 0px;
          //     }

          //     p {
          //         margin-bottom: 0px;
          //     }
          // }
        }
      }

      .height-weight-select {
        padding-top: 80px;

        h1 {
          color: var(--c_secondary);
          text-align: center;
          font-family: PS-Haute;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0px;
        }

        .input-wrap {
          gap: 40px;
          .input-container.error{
            .input-error {
              opacity: 1;

            }
            input{
              border: 1px solid var(--bg_danger) !important;
            }
            
          }

          .input-container {
            gap: 10px;

            .input-cover {
              position: relative;
              h1 {
                color: var(--c_secondary);
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                position: absolute;
                right: 20px;
              }

              input {
                padding: 8px;
                border-radius: 4px;
                width: 100%;
                width: 400px;
                height: 70px;
                padding: 20px;
                border-radius: 10px;
                border: 1px solid #e9e9e9;
                background: var(--c_white);
                color: var(--c_secondary);
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                &::placeholder {
                  color: #c6cbda;
                  /* Example color */
                  font-style: italic;
                  /* Example font style */
                }

                &:active {
                  border-color: red;
                }

                &:focus {
                  outline: none;
                  border-radius: 13px;
                  border: 1px solid var(--c_primary_two);
                  background: var(--c_white);
                }
              }
            }

            h1 {
              color: var(--c_secondary);
              font-family: Roboto;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin: 0px;
            }

            .input-error {
              display: flex;
              // position: absolute;
              opacity: 0;
              top: 94px;
              margin-bottom: 0px;
              color: var(--bg_danger);
              font-family: Roboto;
              font-size: var(--fs_xsm2);
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
      #spinner {
        display: flex;
        width: 200px;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
      }
      @keyframes growProgressBar {
        0% {
          --value: 0;
        }
        100% {
          --value: 100;
        }
      }

      div[role="progressbar"] {
        --size: 12rem;
        --fg: var(--c_primary_two);
        --bg: transparent;
        --value: 0; /* Initialize --value */
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        animation: growProgressBar 4s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        display: grid;
        place-items: center;
        background: radial-gradient(
            closest-side,
            white 90%,
            transparent 0 99.9%,
            transparent 0
          ),
          conic-gradient(var(--fg) calc(var(--value) * 1%), var(--bg) 0);
        // font-family: Helvetica, Arial, sans-serif;
        // font-size: calc(var(--size) / 5);
        // color: var(--fg);

        color: #000;
        font-family: Roboto;
        font-size: 44px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      div[role="progressbar"]::before {
        content: attr(aria-valuenow) "%"; /* Display aria-valuenow as percentage */
      }

      .result-container {
        padding-top: 38px;

        .BMI-card-container {
          gap: 10px;
          padding: 20px;
          border-radius: 20px;
          background: var(--c_white);
          max-width: 586px;
          margin: auto;

          .heading {
            gap: 13px;

            h1 {
              color: var(--c_secondary);
              font-family: PS-Haute;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin: 0px;
            }

            p {
              color: var(--c_secondary);
              font-family: PS-Haute;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin-bottom: 0px;
            }
          }
          .range-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }
          .range-input input[type="range"] {
            pointer-events: none; /* Disable pointer events to prevent user interaction */
          }
          .range-item {
            position: relative;
            input {
              width: 100%;
            }
          }
          .range-item:not(:last-child) {
            margin-bottom: 12px;
          }
          .range-item .range-input {
            margin-top: 6px;
            width: 100%;
          }
          .range-item .range-input input {
            position: relative;
            z-index: 2;
            // cursor: pointer;
            width: 100%;
          }
          .range-item ul {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: calc(100% + 34.4px);
            margin: 0 -17px;
          }
          .range-item ul .list-inline-item:not(:last-child) {
            margin-right: 0;
          }
          .range-item ul .list-inline-item span {
            position: relative;
            min-width: 58px;
            text-align: center;
            display: block;
            font-size: 14px;
            padding-top: 4px;
            word-break: break-word;
            color: #b1b1b1;
          }
          .range-item .range-line {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 8px;
            width: calc(100% - 14px);
            // background-color: #ddd;
            background: linear-gradient(
              90deg,
              #4a5ae6 0.1%,
              #5ca6e4 25.76%,
              #b1de93 52.35%,
              #fda46a 76.66%,
              #eb3f4f 100.1%
            );

            z-index: 0;
            margin: 0 7px;
            border-radius: 50px;
            overflow: hidden;
          }
          .range-item
            .range-input.disable-range
            + ul
            .list-inline-item
            span::before {
            background-color: red;
          }
          .range-item .range-input.disable-range .range-line .active-line {
            background-color: red;
          }
          .range-item
            .range-input.disable-range
            + ul
            .list-inline-item.active
            span::before {
            background-color: red;
          }
          .range-item .range-input .dot-line {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: calc(100% - 24px);
            left: 0;
            z-index: 1;
          }
          .range-item .range-input .active-dot {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            transition: all 0.5s ease;
            // cursor: pointer;
            // background-color: #ddd;
            // height: 24px;
            // width: 24px;
            // border: 4px solid red;
            z-index: 11;
            left: 0%;
            // border-radius: 50%;
          }
          .range-item .range-input .range-line .active-line {
            position: absolute;
            left: 0;
            width: 0;
            height: 100%;
            // background-color: red;

            transition: all 0.1s ease;
          }
          .range-item ul .list-inline-item span::before {
            content: "";
            display: none;
            position: absolute;
            top: -14px;
            left: 50%;
            transform: translateX(-50%);
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #696969;
          }
          .range-item ul .list-inline-item.active span::before {
            background-color: white;
          }
          .range-item .range-input input:disabled ~ .dot-line .active-dot {
            background-color: #d9d9d9;
            border: 4px solid #b1b1b1;
            transition: all 0.5s ease;
          }
          input[type="range"]::-moz-range-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            margin-top: -8px; /* Centers thumb on the track */
            background-color: #0000;
            height: 15px;
            width: 15px;
            border: 4px solid #0000;
            z-index: 11;
            box-shadow: none;
          }
          input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            margin-top: -8px; /* Centers thumb on the track */
            background-color: #0000;
            height: 24px;
            width: 24px;
            border: 4px solid #0000;
            box-shadow: none;
            z-index: 11;
          }

          input[type="range"]::-webkit-slider-runnable-track {
            background-color: #f0f0f000;
          }
          input[type="range"]::-moz-range-progress {
            background-color: #f0f0f000;
          }
          input[type="range"]::-ms-track {
            background-color: #f0f0f000;
          }
          input[type="range"]::-moz-range-track {
            background-color: #f0f0f000;
          }
          /* IE*/
          input[type="range"]::-ms-fill-lower {
            background-color: #f0f0f000;
          }
          input[type="range"]::-ms-fill-upper {
            background-color: #f0f0f000;
          }
          input[type="range"]:focus::-webkit-slider-thumb {
            box-shadow: none !important;
            background-color: #f0f0f000;
          }

          input[type="range"]:focus::-moz-range-thumb {
            box-shadow: none !important;
            background-color: #f0f0f000;
          }

          input[type="range"]:focus::-ms-thumb {
            background-color: #f0f0f000;
            box-shadow: none !important;
          }
          input[type="range"]:disabled::-webkit-slider-thumb {
            background-color: #0000;
            border: 4px solid #0000;
          }
          input[type="range"]:disabled::-moz-range-thumb {
            background-color: #0000;
            border: 4px solid #0000;
          }

          .line-container {
            gap: 20px;

            .line {
              height: 8px;
              border-radius: 2px;
              width: 547px;
              background: linear-gradient(
                90deg,
                #4a5ae6 0.1%,
                #5ca6e4 25.76%,
                #b1de93 52.35%,
                #fda46a 76.66%,
                #eb3f4f 100.1%
              );
            }

            svg {
              position: absolute;
            }

            .side {
              h1 {
                color: var(--c_secondary);
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin: 0px;
              }

              h1 {
                color: var(--c_secondary);
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin: 0px;
              }
            }
          }

          .info {
            padding-top: 20px;
            h1 {
              color: var(--c_primary_two);
              font-family: PS-Haute;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin: 0px;
              text-align: start;
            }

            p {
              color: var(--c_secondary);
              font-family: Roboto;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
              max-width: 547px;
            }
          }
        }

        .menu-card-container {
          gap: 68px;

          h1 {
            color: var(--c_secondary);
            text-align: center;
            font-family: PS-Haute;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 0px;
            padding-top: 68px;
          }

          .product-card-container {
            gap: 24px;

            .card-button-1 {
              padding: 14px 36px;
              border-radius: 21px;
              border: 2px solid var(--c_primary_two);
              background: var(--c_white);
              left: 30px;
              top: -30px;
              position: absolute;
              // box-shadow: 10.667px 10.667px 0px 0px #000;

              h1 {
                color: var(--c_secondary);
                font-family: PS-Haute;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
                margin: 0px;
                padding: 0px;
              }
            }

            .card-button-2 {
              padding: 18px 48px;
              border-radius: 21px;
              border: 2px solid var(--c_primary_two);
              background: var(--c_white);
              left: 995px;
              top: 1018px;
              position: absolute;
              // box-shadow: 10.667px 10.667px 0px 0px #000;

              h1 {
                color: var(--c_secondary);
                font-family: PS-Haute;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
                margin: 0px;
              }
            }

            .cards {
              border-radius: 20px;
              border: 2px solid var(--c_primary_two);
              background: var(--c_white);
              box-shadow: 10px 10px 0px 0px #000;
              width: 548px;
              padding: 46px 20px 24px 20px;
              gap: 20px;
              position: relative;

              .mobile-heading {
                h1 {
                  padding: 0px;
                }
              }

              .left {
                gap: 20px;

                .lunch {
                  gap: 8px;

                  h1 {
                    color: var(--c_secondary);
                    -webkit-text-stroke-width: 1.3333333730697632;
                    -webkit-text-stroke-color: var(--c_white);
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin: 0px;
                    padding: 0px;
                  }

                  .batch {
                    width: 54px;
                    height: 21px;
                    padding: 2px 2px;
                    gap: 8px;
                    background: var(--c_danger);

                    h1 {
                      color: var(--c_white) !important;
                      text-align: center;
                      font-family: Roboto;
                      font-style: normal;
                      font-weight: 700;
                      line-height: normal;
                      letter-spacing: -0.8px;
                      margin: 0px;
                    }
                  }
                }

                .lunch {
                  width: 667px;
                  gap: 8px;

                  h1 {
                    color: var(--c_secondary);
                    -webkit-text-stroke-width: 1.3333333730697632;
                    -webkit-text-stroke-color: var(--c_white);
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin: 0px;
                  }

                  .price {
                    gap: 8px;

                    p {
                      color: var(--c_secondary);
                      font-family: Roboto;
                      font-style: normal;
                      font-weight: 400;
                      line-height: normal;
                      margin: 0px;
                      padding: 0px;
                    }
                  }

                  .batch {
                    width: 54px;
                    height: 21px;
                    padding: 2px 2px;
                    gap: 8px;
                    background: var(--c_danger);

                    h1 {
                      color: var(--c_white);
                      text-align: center;
                      font-family: Roboto;
                      font-style: normal;
                      font-weight: 700;
                      line-height: normal;
                      letter-spacing: -0.8px;
                      margin: 0px;
                    }
                  }
                }

                .image {
                  border-radius: 14px;
                  height: 102px;

                  img {
                    width: 180px;
                    height: 102px;
                  }
                }
              }

              .dinner {
                gap: 8px;

                .batch {
                  width: 58px;
                  height: 21px;
                  padding: 3px 2px;
                  gap: 8px;
                  background: var(--c_secondary);

                  h1 {
                    color: var(--c_white);
                    text-align: center;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: -0.8px;
                    margin: 0px;
                  }
                }

                h1 {
                  color: var(--c_secondary);
                  -webkit-text-stroke-width: 1.3333333730697632;
                  -webkit-text-stroke-color: var(--c_white);
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  margin: 0px;
                  padding: 0px;
                }

                .price {
                  gap: 8px;

                  p {
                    color: var(--c_secondary);
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin: 0px;
                    padding: 0px;
                  }
                }
              }
            }
          }

          .button-container {
            gap: 21px;

            .left-button {
              padding: 18px 26px;
              gap: 13px;
              border-radius: 65px;
              border: 1px solid var(--c_primary_two);
              background: var(--c_white);

              h1 {
                color: var(--c_primary_two);
                text-align: center;
                font-family: Roboto;
                font-style: normal;
                font-weight: 700;
                margin: 0px;

                line-height: normal;
              }
            }

            .button {
              width: 194px;
              padding: 18px 26px;
              gap: 13px;
              border-radius: 65px;
              background: var(--c_primary_two);
              box-shadow: 2.667px 5.333px 5.333px 0px rgba(255, 255, 255, 0.1)
                  inset,
                -2.667px -5.333px 5.333px 0px rgba(0, 0, 0, 0.1) inset,
                0px 13.333px 13.333px 0px rgba(30, 117, 73, 0.25);

              h1 {
                color: var(--c_white);
                font-family: Roboto;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                width: 141px;
                margin: 0px;
              }

              svg {
                width: 42px;
                height: 42px;
              }
            }
          }
        }

        .result-btn-container {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 12px;
          margin-top: 96px;
          margin-bottom: 22px;
          .button-secondary {
            color: var(--c_primary_two);
            text-align: center;
            font-family: Roboto;
            padding: 14px 20px;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border-radius: 49px;
            border: 1px solid var(--c_primary_two);
            background: var(--c_white);
            cursor: pointer;
          }
          .button-primary {
            display: flex;
            cursor: pointer;
            width: 146px;
            padding: 14px 20px;
            justify-content: center;
            align-items: center;
            color: var(--c_white);
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border-radius: 49px;
            background: var(--c_primary_two);
            box-shadow: 2px 4px 4px 0px rgba(255, 255, 255, 0.1) inset,
              -2px -4px 4px 0px rgba(0, 0, 0, 0.1) inset,
              0px 10px 10px 0px rgba(30, 117, 73, 0.25);
          }
        }
      }

      .button-container {
        padding: 95px 0px;
        gap: 16px;
        display: flex;
        .arrow-left-button {
          width: 52px;
          height: 52px;
          padding: 14px;
          border-radius: 49px;
          border: 1px solid var(--c_primary_two);
          box-shadow: 2px 4px 4px 0px rgba(255, 255, 255, 0.1) inset,
            -2px -4px 4px 0px rgba(0, 0, 0, 0.1) inset,
            0px 10px 10px 0px rgba(30, 117, 73, 0.25);
          display: flex;
          cursor: pointer;
        }

        .button {
          gap: 10px;
          padding: 14px 20px;
          border-radius: 49px;
          background: var(--c_primary_two);
          box-shadow: 2.667px 5.333px 5.333px 0px rgba(255, 255, 255, 0.1) inset,
            -2.667px -5.333px 5.333px 0px rgba(0, 0, 0, 0.1) inset,
            0px 13.333px 13.333px 0px rgba(30, 117, 73, 0.25);
          cursor: pointer;
          h1 {
            color: var(--c_white);
            font-family: Roboto;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0px;
          }
          svg {
            margin-bottom: -7px;
          }
        }
      }
    }
  }

  .footer-main {
    background: var(--c_primary_two);
    width: 1440px;
    padding: 46px 160px;
    gap: 30px;
    position: relative;
    display: flex;

    .carrot {
      position: absolute;
      top: -110px;
      left: -110px;
      img {
        width: 257.847px;
        height: 257.847px;
      }
    }
    .decoration {
      position: absolute;
      bottom: 0px;
      right: 0px;
      img {
        width: 522px;
        height: 691px;
      }
    }
    .footer-container {
      gap: 30px;
      z-index: 1;
      .footer-content {
        //    gap: 443px;
        .footer-contact {
          width: 328px;
          gap: 32px;
          .contact-wrap {
            gap: 11px;
            .location {
              gap: 12px;
              img {
                width: 24px;
                height: 24px;
              }
              h1 {
                color: var(--c_white);
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%; /* 19.6px */
                margin: 0px;
                margin: 0px;
              }
            }
            .number {
              gap: 12px;
              img {
                width: 24px;
                height: 24px;
              }
              h1 {
                color: var(--c_white);
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%; /* 19.6px */
                margin: 0px;
                margin: 0px;
              }
            }
          }
        }
        .footer-links {
          gap: 20px;
          .nav-wrap {
            gap: 10px;
            h1 {
              color: var(--c_white);
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 19.6px */
              margin: 0px;
            }
            .navigation-bar {
              gap: 16px;
              a {
                color: var(--c_white);
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%; /* 19.6px */
                text-decoration: none;
              }
              p {
                color: #c4c4c4;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%; /* 19.6px */
                margin: 0px;
              }
            }
          }

          .links-heading {
            gap: 10px;
            h1 {
              color: var(--c_white);
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%; /* 19.6px */
              margin: 0px;
            }
            .links {
              gap: 19px;
            }
          }
        }
      }
      .footer-divider {
        height: 0.6px;
        background: var(--c_white);
      }
      .branch-name {
        .footer-wrap {
          gap: 24px;
          h1 {
            color: var(--c_white);
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 19.6px */
            margin: 0px;
          }
          .name {
            gap: 10px;
            h1 {
              color: var(--c_white);
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 19.6px */
              margin: 0px;
            }
            p {
              color: #c4c4c4;
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%; /* 19.6px */
              margin: 0px;
            }
          }
        }
        .copyright {
          gap: 10px;
          h1 {
            color: var(--c_white);
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 19.6px */
            margin: 0px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .footer-main {
    padding: 30px 60px !important;
    display: none !important;

    .footer-container {
      align-items: flex-start !important;
      .footer-content {
        flex-direction: column !important;
        align-items: flex-start !important;
        gap: 22px !important;
      }
      .branch-name {
        flex-direction: column !important;
        gap: 20px !important;
        .name {
          h1 {
            font-size: var(--fs_xsm2) !important;
          }
        }
        .copyright {
          h1 {
            font-size: var(--fs_xsm2) !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .bmi-container {
    // height: 100vh !important;
    justify-content: start !important;
    min-height: 100vh;
  }
  .header {
    background: var(--c_white) !important;
    min-height: 70px;
  }
  .header-wrap {
    .logo {
      img {
        width: 50px !important;
        height: 30px !important;
      }
    }
    .links {
      display: none !important;
    }
  }

  .bmi-calculator-main {
    width: 90% !important;
    .heading-info {
      gap: 13px !important;
      padding-top: 16px !important;
      padding-bottom: 10px;
      padding: 0px 16px;
      width: 100vw !important;
      position: sticky !important;
      top: 0px !important;
      background: var(--c_white);
      z-index: 2;
      p {
        display: flex !important;
      }
    }
    .bmi-calc-mobile-heading {
      display: flex !important;
    }
    .bmi-calc-heading {
      display: none !important;
    }
    .stepper {
      margin-top: 0px !important;
      .line-default {
        width: 10px !important;
        height: 1px !important;
      }
      h1 {
        display: none !important;
      }
    }
    .contact-info {
      margin-top: 27px !important;
      width: 90% !important;
      .form-wrap {
        width: 100% !important;
        gap: 21px !important;
        .input-container {
          width: 100% !important;
          gap: 6px !important;
          .input-wrapper {
            width: 100% !important;
            h1 {
              left: 20px !important;
              top: 50% !important;
            }
          }
          input {
            font-size: var(--fs_sm) !important;
            height: 50px !important;
            width: 100% !important;
          }
          input[type="number"] {
            -moz-appearance: textfield;
            padding-left: 60px !important;
          }
          h1 {
            font-size: var(--fs_xsm);
          }
        }
      }
    }
    .button-container {
      padding-top: 214px !important;
      .arrow-left-button {
        width: 48px !important;
        height: 48px !important ;
      }
      .button {
        h1 {
          font-size: var(--fs_sm);
        }
      }
    }
    .gender-select {
      padding-top: 86px !important;
      .gender-card-container {
        gap: 10px !important;
        .card {
          width: 162px !important;
          height: 161px !important;
          gap: 12px !important ;
          padding: 23px 20px !important;
          h1 {
            font-size: var(--fs_xsm) !important;
          }
          svg {
            width: 84px !important ;
            height: 84px !important ;
          }
        }
      }
    }
    .age-select {
      padding-top: 27px !important;
      .radio-wrap {
        .radio-input-container {
          width: 332px !important;
          padding: 14px !important;
          h1 {
            font-size: var(--fs_sm);
          }
        }
      }
    }
    .height-weight-select {
      padding-top: 27px !important;
      .input-wrap {
        gap: 20px !important;
        .input-container {
          gap: 6px !important;
          h1 {
            font-size: var(--fs_xsm);
          }
          .input-cover {
            input {
              height: 50px !important;
              width: 332px !important ;
            }
          }
        }
      }
    }
    .result-container {
      padding-top: 25px !important;
      gap: 25px !important;
      width: 100% !important;

      .BMI-card-container {
        width: 100% !important;
        .heading {
          h1 {
            font-size: var(--fs_md) !important;
          }
          p {
            font-size: var(--fs_xsm2) !important;
          }
        }
        .line-container {
          width: 100% !important;
          .side {
            h1 {
              font-size: var(--fs_xsm2) !important;
            }
          }
          .line {
            width: 100% !important;
          }
        }
        .info {
          width: 100% !important;
          padding-top: 10px !important;
          h1 {
            font-size: var(--fs_md) !important;
          }
          p {
            font-size: var(--fs_xsm) !important;
          }
        }
      }
    }
    .button-container {
      margin-top: 120px !important;
      padding: 0px !important;
    }
  }
}
@media screen and (max-width: 640px) {
  .footer-main {
    padding: 20px 16px !important;
    .carrot {
      top: -80px !important;
      right: -100px !important;
      left: inherit !important;
      img {
        width: 211px !important;
        height: 211px !important;
        transform: rotate(-80deg) !important;
      }
    }
    .footer-container {
      .footer-content {
        .footer-links {
          align-items: center !important;
          width: 100% !important ;

          .nav-wrap {
            align-items: center !important;
          }
          .links-heading {
            align-items: center !important;
          }
        }
      }
      .branch-name {
        align-items: center !important;
        padding-bottom: 30px !important;
        .name {
          flex-wrap: wrap !important;
          h1 {
            font-size: var(--fs_xsm) !important;
          }
        }
        .copyright {
          h1 {
            font-size: var(--fs_xsm) !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 580px) {
  #bmi-main {
    .bmi-container {
      .bmi-calculator-main {
        .menu-card-container {
          width: 100% !important;
          margin-top: 24px;
          .product-card-container {
            gap: 6px !important;
            width: 100vw !important;
            background-color: #f5f9f7 !important;
            .cards {
              width: 100vw !important;
              border: none !important;
              box-shadow: none !important;
              border-radius: 0px !important;
              padding: 20px 15px !important;
              gap: 12px !important;
              .card-button-1 {
                display: none !important;
              }
              .mobile-heading {
                display: flex !important;
              }
              .left {
                .image-mobile {
                  display: flex !important;
                  img {
                    width: 64px !important;
                    height: 64px !important;
                  }
                }
                .image {
                  img {
                    width: 64px !important;
                    height: 64px !important;
                  }
                }
                .lunch {
                  gap: 6px !important;
                  width: 100% !important;
                  h1 {
                    text-align: start !important;
                  }
                  .price {
                    flex-direction: column !important;
                    gap: 6px !important;
                    svg {
                      width: 60px !important;
                      height: 24px !important;
                    }
                  }
                  .batch {
                    width: 41px !important;
                    height: 16px !important;
                  }
                }
              }
              .line-mobile {
                display: flex !important;
                width: 328px;
                height: 1px;
                background: #ececec;
              }
              .dinner {
                gap: 6px !important;
                h1 {
                  text-align: start !important;
                }
                .price {
                  flex-direction: column !important;
                  svg {
                    width: 60px !important;
                    height: 24px !important;
                  }
                }
              }
            }
          }
          .main-mobile-heading {
            display: none !important;
          }
        }
        .result-container {
          .result-btn-container {
            .button-primary {
              font-size: var(--fs_sm) !important;
            }
            .button-secondary {
              font-size: var(--fs_sm) !important;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1180px) {
  .menu-card-container {
    .product-card-container {
      flex-direction: column !important;
      gap: 60px !important;
    }
  }
}
