@import "common.css";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#forget-pass-main {
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  position: relative;

  .bg-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;

    img {
      object-fit: cover;

      width: 100%;
      height: 100%;
    }
  }

  .forget-pass-container {
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    z-index: 2;

    .login-wrap {
      flex-direction: column;
      gap: 74px;

      .nav-bar {
        width: 80%;
        padding: 19px 0px;

        img {
          width: 70px;
          // height: 42px;
        }

        a{
          text-decoration: none;
          button {
            border: none;
            outline: none;
            padding: 10px 16px;
            gap: 10px;
            border-radius: 49px;
            background: var(--c_primary_two);
            box-shadow: 2.667px 5.333px 5.333px 0px rgba(255, 255, 255, 0.1) inset,
              -2.667px -5.333px 5.333px 0px rgba(0, 0, 0, 0.1) inset,
              0px 13.333px 13.333px 0px rgba(31, 72, 54, 0.25);
            color: var(--c_white);
            text-align: center;
            font-family: Roboto;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }

      }

      .form-container {
        flex-direction: column;
        gap: 32px;
        max-width: 400px;
        h1 {
          margin-bottom: 0px;
          color: var(--c_secondary);
          text-align: center;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        form {
          flex-direction: column;
          gap: 28px;

          .form-wrap {
            flex-direction: column;
            gap: 24px;
            .input-container.error{
              .input-alert {
                opacity: 1;

              }
              input{
                border: 1px solid var(--bg_danger);
              }
              
            }
            .input-container {
              flex-direction: column;
              gap: 10px;
              position: relative;

              p {
                margin-bottom: 0px;
                color: var(--c_secondary);
                font-family: Roboto;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }

              .input-wrapper {
                position: relative;

                .input-wrapper input[type="email"] {
                  // Adjust based on the width of your SVG
                  height: 60px; // Same as your input height
                  padding: 0px 16px; // Same as your input padding
                  display: flex;
                  align-items: center;
                  gap: 17px;
                  box-shadow: 0px 2px 6px 0px rgba(30, 117, 73, 0.12);
                }
              }
              .input-alert {
                display: flex;
                position: absolute;
                opacity: 0;
                top: 94px;
                margin-bottom: 0px;
                color: var(--bg_danger);
                font-family: Roboto;
                font-size: var(--fs_xsm2);
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }

              .icon-wrapper {
                position: absolute;
                top: 50%;
                left: 22px;
                transform: translateY(-50%);
                width: fit-content;

                .icon-wrapper svg {
                  width: 24px; // Adjust based on your SVG size
                  height: 24px; // Adjust based on your SVG size
                }
              }

              .pass-show-icon {
                position: absolute;
                top: 50%;
                right: 22px;
                transform: translateY(-50%);

                .icon-wrapper svg {
                  width: 24px; // Adjust based on your SVG size
                  height: 24px; // Adjust based on your SVG size
                }
              }

              input {
                width: 400px;
                height: 60px;
                font-size: var(--fs_sm);
                padding: 0px 60px;
                border-radius: 13.333px;
                border-radius: 13.333px;
                border: 1.333px solid #c6cbda;
                color: var(--c_secondary);
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                &:focus {
                  outline: none;
                  border: 1.333px solid var(--c_primary_two);
                  box-shadow: 0px 2px 6px 0px rgba(30, 117, 73, 0.12);
                }

                &::placeholder {
                  color: #c6cbda;
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                }
              }

              .forget-password {
                color: var(--c_danger);
                font-family: Roboto;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-decoration: none;
                margin-bottom: 0px;
                margin-bottom: 20px;
              }
            }
          }

          button {
            width: 400px;
            padding: 14px 20px;
            gap: 10px;
            border-radius: 49px;
            background: var(--c_primary_two);
            box-shadow: 2.667px 5.333px 5.333px 0px rgba(255, 255, 255, 0.1)
                inset,
              -2.667px -5.333px 5.333px 0px rgba(0, 0, 0, 0.1) inset,
              0px 13.333px 13.333px 0px rgba(30, 117, 73, 0.25);
            color: var(--c_white);
            font-family: Roboto;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            cursor: pointer;
            border: none;
          }

          h3 {
            color: #333;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 0px;

            a {
              color: var(--c_primary_two);
              font-family: Roboto;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-decoration: none;
            }
          }
        }
      }
    }

    .end-section {
      gap: 10px;
      padding-bottom: 32px;
      margin-top: 42px;

      p {
        color: var(--c_secondary);
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        gap: 13px;
        line-height: 140%;
        /* 26.133px */
        margin-bottom: 0px;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  #forget-pass-main {
    // .bg-img {
    //     display: none;
    // }

    .login-wrap {
      gap: 50px !important;

      .nav-bar {
        img {
          width: 52px !important;
        }

        button {
          font-size: var(--fs_xsm) !important;
        }
      }

      .form-container {
        gap: 25px !important;
        max-width: 80% !important;

        h1 {
          font-size: var(--fs_lg) !important;
        }

        form {
          width: 100% !important;
          gap: 25px !important;
          p {
            font-size: var(--fs_xsm) !important;
          }
          .form-wrap {
            gap: 25px !important;

            .input-container {
              width: 100% !important;
              gap: 10px !important;
              .input-alert{
                font-size: var(--fs_xsm2) !important;
                top: 80px !important;

              }
              p {
                font-size: var(--fs_xsm) !important;
              }

              input {
                width: 100% !important;
                height: 50px !important;
              }

              h2 {
                font-size: var(--fs_xsm2) !important;
              }
            }
          }

          .login-btn {
            width: 100% !important;
            font-size: var(--fs_sm) !important;
            padding: 14px 20px !important;
          }
        }

        h3 {
          font-size: var(--fs_xsm2) !important;

          span {
            font-size: var(--fs_xsm2) !important;
          }
        }
      }
    }

    .end-section {
      display: none !important;
    }
  }
}
