#jelahjah-main{
    background: linear-gradient(180deg, #F5F9F7 77.03%, rgba(245, 249, 247, 0.00) 100%);
    overflow:  hidden !important;

    .header {
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(6.6666669845581055px);
        height: 72px;
        position: sticky;
        top: 0px;
        z-index: 999;    
        .header-wrap {
          width: 76%;
    
          .logo {
            img {
              width: 72px;
              height: 40px;
            }
          }
    
          .links {
            gap: 80px;
    
            a {
              color: var(--c_secondary);
              font-family: PS-Haute;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-decoration: none;
            }
          }
    
          a{
            border: none;
            outline: none;
            text-decoration: none;
            .user-profile {
                gap: 10px;
      
                .profile {
                  width: 28px;
                  height: 28px;
                  border-radius: 50px;
      
                  img {
                    width: 28px;
                    height: 28px;
                  }
                }
      
                h1 {
                  color: var(--c_secondary);
                  font-weight: 400;
                  margin-bottom: 0px;
                  height: 14px;
                }
              }
          }
        }
      }
      .jelahjah-container{
        gap: 36px;
        width: 100%;
        // max-width: 1120px;
        padding-bottom: 260px;
    position: relative;

        padding-top: 46px;
        .jelahjah-main-heading{
            gap: 4px;
            h1{
                color: var(--c_danger);
                text-align: center;
                font-family: Roboto;
                margin: 0px;

                font-size: var(--fs_md);
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            p{
                color: var( --c_secondary);
                text-align: center;
                font-family: PS-Haute;
                font-size: var(--fs_xxl3);
                margin: 0px;

                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .filter-container{
            width: 100%;
        max-width: 1120px;
        z-index: 10;

            .input-container{
                width: 400px;
                height: 60px;
                border-radius: 40px;

                input{
                  width: 100%;
                  height: 100%;
                padding: 0px 36px;
                border-radius: 40px;
                background: var( --bg_light_2);
                box-shadow: 0px 6px 20px 0px rgba(30, 117, 73, 0.15);
                border: 1px solid var(--Text-Gray-Light, #C6CBDA);
                color: #202121;

                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                  &:focus{
                    border: 1px solid var(--Text-Gray-Light, #C6CBDA);

                    outline: none;
                  }
                }
             
            }
            .filter-wrap{
                gap: 10px;
                z-index: 2;
                button{
                  text-decoration: none;
                  border: none;
                  outline: none;
                  cursor: pointer;
                  background: none !important;
                  .tab-button{
                  background: none !important;
                    
                  }
                  .filter{
                    height: 60px;
                    padding: 0px 20px 0px 16px;
                    gap: 12px;
                    border-radius: 40px;
                    border: 1px solid var( --c_primary_two);
                    background: var( --bg_light_2);
                    box-shadow: 0px 6px 20px 0px rgba(30, 117, 73, 0.15);
                    h1{
                        color: var( --c_secondary);
                        font-family: Inter;
                        font-size: 30px;
                        margin: 0px;

                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                    p{
                        color: var( --c_secondary);
                        font-family: Roboto;
                        font-size: var(--fs_sm);
                        margin: 0px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
              
                }
               .active{
                    height: 60px;
                    padding: 0px 20px 0px 16px;
                    gap: 12px;
                    border-radius: 40px;
                    border: 1px solid var( --c_primary_two);
                    background: var( --c_primary_two);
                    box-shadow: 0px 6px 20px 0px rgba(30, 117, 73, 0.15);
                  
                    h1{
                        color: var( --c_secondary);
                        font-family: Inter;
                        font-size: 30px;
                        font-style: normal;
                        margin: 0px;
                        font-weight: 700;
                        line-height: normal;
                    }
                    p{
                       
                        color: var( --bg_light_2);
                        font-family: Roboto;
                        font-size: var(--fs_sm);
                        font-style: normal;
                        font-weight: 700;
                        margin: 0px;

                        line-height: normal;
                    }
                    
                }
                }
                
                
            }
            
        }
        .tab-content{
            max-width: 1120px;
            display: none;
           
            .popular-article-container{
                gap: 16px;

                h1{
                    color: var( --c_secondary);
                    text-align: center;
                    font-family: PS-Haute;
                    font-size: 30px;
                    margin: 0px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                .popular-article-wrap{
                gap: 16px;

                    .popular-article-1{
                        position: relative;
                        border-radius: 14px;
                        img{
                            width: 363px;
                            border-radius: 14px;
                            height: 500px;
                        }
                        .content{
                            position: absolute;
                            bottom: 0px;
                            gap: 280px;
                            .side-pill{
    
                            }
                            .info{
                                gap: 14px;
                                width: 363px;
                                border-radius: 14px;
                                padding: 16px;
                                background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 76.34%);
                                h1{
                                    color: var( --bg_light_2);
                                    text-align: start;
                                    font-family: Roboto;
                                    font-size: var(--fs_md);
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: normal;
                                }
                                p{
                                    color: var( --bg_light_2);
                                    font-family: Roboto;
                                    font-size: var(--fs_xsm);
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                }
                            }
                        }
                    }
                    .artical-card-container{
                        gap: 16px;
        z-index: 10;
                        .artical-card-wrap{
                            gap: 16px;
                            .popular-article{
                                position: relative;
                                border-radius: 14px;
    
                                img{
                                    border-radius: 14px;
                                    width: 363px;
                                    height: 242px;
                                }
                                .content{
                                    position: absolute;
                                    bottom: 0px;
                                    gap: 60px;
                                    .side-pill{
            
                                    }
                                    .info{
                                        gap: 14px;
                                        width: 363px;
                                        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 76.34%);
                                        border-radius: 14px;
    
                                        padding: 16px;
                                        h1{
                                            color: var( --bg_light_2);
                                            font-family: Roboto;
                                            font-size: var(--fs_sm);
                                            font-style: normal;
                                            font-weight: 600;
                                            text-align: start;
                                            line-height: normal;
                                        }
                                        p{
                                            color: var( --bg_light_2);
                                            font-family: Roboto;
                                            text-align: start;
    
                                            font-size: var(--fs_xsm);
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: normal;
                                        }
                                    }
                                }
                            }  
                        }
                    }
                }
                
            }
            .sport-artical-container{
                max-width: 1120px;
                width: 1120px;
                gap: 16px;
                overflow:  hidden;

                 padding-top: 54px;

                .title-wrapper{
                    h1{
                        color: var( --c_secondary);
                        font-family: PS-Haute;
                        font-size: 30px;
                        font-style: normal;
                        margin: 0px;
                        font-weight: 400;
                        line-height: normal;
                    }
                    .next.disabled {
                      pointer-events: none;
                      // opacity: 0.5; /* Optionally reduce opacity for visual indication */
                  }
                    .arow-button-container{
                        gap: 10px;
                        svg{
                          cursor: pointer;
                        }
                       

                    }
                }
                .sport-card-wrapper{
                    gap: 14px;
                    transition: transform 0.3s ease;
                    width: 1120px;

                  a{
                    text-decoration: none;

                  }
                    .sport-card{
                        width: 270px;
                        gap: 14px;
                        width: 100%;
                        img{
                            width: 270px;
                            height: 180px;
                            border-radius: 10px;
                        }
                        .info-wrap{
                            gap: 14px;
                            h1{
                                color: var( --c_secondary);
                                font-family: Roboto;
                                font-size: var(--fs_def);
                                font-style: normal;
                                margin: 0px;

                                font-weight: 600;
                                line-height: normal;
                            }
                            p{
                                color: #656565;
                                font-family: Roboto;
                                font-size: var(--fs_xsm);
                                margin: 0px;

                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }
                    }

                }
            }

            .lifehack-artical-container{
                max-width: 1120px;
            padding-top: 54px;

                gap: 16px;
                overflow:  hidden;

                .title-wrapper{
                    h1{
                        color: var( --c_secondary);
                        font-family: PS-Haute;
                        font-size: 30px;
                        font-style: normal;
                        margin: 0px;
                        font-weight: 400;
                        line-height: normal;
                    }
                    .arow-button-container{
                        gap: 10px;
                        svg{
                          cursor: pointer;
                        }


                    }
                }
                .lifehack-card-wrapper{
                    gap: 14px;
                    transition: transform 0.3s ease;
                    
a{
  text-decoration: none;
}

                    .lifehack-card{
                        width: 270px;
                        gap: 14px;

                        img{
                            width: 270px;
                            height: 180px;
                            border-radius: 10px;
                        }
                        .info-wrap{
                            gap: 14px;
                            h1{
                                color: var( --c_secondary);
                                font-family: Roboto;
                                font-size: var(--fs_def);
                                font-style: normal;
                                margin: 0px;

                                font-weight: 600;
                                line-height: normal;
                            }
                            p{
                                color: #656565;
                                font-family: Roboto;
                                font-size: var(--fs_xsm);
                                margin: 0px;

                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }
                    }

                }
            }
            
        }
        .decoration-img-1{
            position: absolute;
            width: 522px;
            height: 691px;
            bottom: 0px;
            left: 0px;
            img{
                position: absolute;
                width: 522px;
                height: 691px;
                bottom: 0px;
                left: 0px;
                width: 522px;
                height: 691px;
            }
        }
        .decoration-img-2{
            position: absolute;
            width: 522px;
            height: 691px;
            
            top: 0px;
            right: 0px;
            img{
                position: absolute;
                width: 522px;
                height: 691px;
                top: 0px;
            right: 0px;
                width: 522px;
                height: 691px;
            }
        }
        .decoration-img-8{
            position: absolute;
            
            top: 132px;
            left: 0px;
            img{
                position: absolute;
                width: 158px;
                height: 316px;
                top: 0px;
                left: 0px;
                width: 522px;
                height: 691px;
            }
            .leaf3{
                width: 158px;
                height: 316px;  
            }
        }
      }
      .footer-main {
        background: var(--c_primary_two);
        width: 1440px;
        padding: 46px 160px;
        gap: 30px;
        position: relative;
        z-index: 1;
  
        .carrot {
          position: absolute;
          top: -138px;
          left: -142px;
  
          img {
            // width: 257.847px;
            // height: 257.847px;
          }
        }
  
        .decoration {
          position: absolute;
          bottom: 0px;
          right: -18px;
  
          img {
            width: 522px;
            height: 691px;
            // height: 349px;
          }
        }
  
        .footer-container {
          gap: 30px;
          z-index: 1;
  
          .footer-content {
  
            //    gap: 443px;
            .footer-contact {
              width: 328px;
              gap: 32px;
  
              .contact-wrap {
                gap: 11px;
  
                .location {
                  gap: 12px;
  
                  img {
                    width: 24px;
                    height: 24px;
                  }
  
                  h1 {
                    color: var(--c_white);
                    font-family: Roboto;
                    font-size: var(--fs_xsm);
                    font-style: normal;
                    font-weight: 700;
                    line-height: 140%;
                    /* 19.6px */
                    margin: 0px;
                    margin: 0px;
                  }
                }
  
                .number {
                  gap: 12px;
  
                  img {
                    width: 24px;
                    height: 24px;
                  }
  
                  h1 {
                    color: var(--c_white);
                    font-family: Roboto;
                    font-size: var(--fs_xsm);
                    font-style: normal;
                    font-weight: 700;
                    line-height: 140%;
                    /* 19.6px */
                    margin: 0px;
                    margin: 0px;
                  }
                }
              }
            }
  
            .footer-links {
              gap: 20px;
  
              .nav-wrap {
                gap: 10px;
  
                h1 {
                  color: var(--c_white);
                  font-family: Roboto;
                  font-size: var(--fs_xsm);
                  font-style: normal;
                  font-weight: 400;
                  line-height: 140%;
                  /* 19.6px */
                  margin: 0px;
                }
  
                .navigation-bar {
                  gap: 16px;
  
                  a {
                    color: var(--c_white);
                    font-family: Roboto;
                    font-size: var(--fs_xsm);
                    font-style: normal;
                    font-weight: 700;
                    line-height: 140%;
                    /* 19.6px */
                    text-decoration: none;
                  }
  
                  p {
                    color: #c4c4c4;
                    font-family: Inter;
                    font-size: var(--fs_xsm);
                    font-style: normal;
                    font-weight: 700;
                    line-height: 140%;
                    /* 19.6px */
                    margin: 0px;
                  }
                }
              }
  
              .links-heading {
                gap: 10px;
  
                h1 {
                  color: var(--c_white);
                  font-family: Roboto;
                  font-size: var(--fs_xsm);
                  font-style: normal;
                  font-weight: 400;
                  line-height: 140%;
                  /* 19.6px */
                  margin: 0px;
                }
  
                .links {
                  svg {
                    cursor: pointer;
                  }
  
                  gap: 19px;
                }
              }
            }
          }
  
          .footer-divider {
            height: 0.6px;
            background: var(--c_white);
          }
  
          .branch-name {
            .footer-wrap {
              gap: 24px !important;
  
              h1 {
                color: var(--c_white);
                font-family: Roboto;
                font-size: var(--fs_xsm);
                font-style: normal;
                font-weight: 700;
                line-height: 140%;
                /* 19.6px */
                margin: 0px;
              }
  
              .name {
                gap: 10px;
  
                h1 {
                  color: var(--c_white);
                  font-family: Roboto;
                  font-size: var(--fs_xsm);
                  font-style: normal;
                  font-weight: 700;
                  line-height: 140%;
                  /* 19.6px */
                  margin: 0px;
                }
  
                p {
                  color: #c4c4c4;
                  font-family: Inter;
                  font-size: var(--fs_xsm);
                  font-style: normal;
                  font-weight: 700;
                  line-height: 140%;
                  /* 19.6px */
                  margin: 0px;
                }
              }
            }
  
            .copyright {
              gap: 10px;
  
              h1 {
                color: var(--c_white);
                font-family: Roboto;
                font-size: var(--fs_xsm);
                font-style: normal;
                font-weight: 700;
                line-height: 140%;
                /* 19.6px */
                margin: 0px;
              }
            }
          }
        }
      }


      .nav >:nth-child(1){
        border-radius: 12px 0px 0px 12px;
        margin-right: -1px;
       }
       .nav >:nth-child(2){
        margin-right: -3px;
       }
       .nav >:nth-child(4){
        margin-left: -3px;
       }
      .nav >:nth-child(5){
        border-radius: 0px 12px 12px 0px;
        margin-left: -1px;
    
       }
       
       
       .nav {
        display: none;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: 62px;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.10));
        position: fixed;
        bottom: 16px;
        z-index: 10;
        font-size: var(--fs_xsm2);
        font-family: var(--ff_roboto) ;
       }
       
       .nav-slot {
        flex-basis: 18%;
        text-align: center;
        height: 59.1px;
        min-width: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
       }
       
    
       .toolbar {
        display: none;
        position: fixed;
        left: 50%; /* Position the div horizontally at 50% from the left of the container */
        transform: translateX(-50%);
        bottom: 16px;
        right: 50%;
        width: 92%;
        height: var(--toolbar-height);
        z-index: 10;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.10));
        
        
        &__bg {
          position: absolute;
          z-index: 0;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          overflow: hidden;
    
          
          svg {
            position: absolute;
            bottom: -20px; /* Adjust this value as needed to position the SVG outside the container */
            left: 50%; /* Position the SVG horizontally centered */
            transform: translateX(-50%); /* Offset for horizontal centering */
            width: 100%; /* Ensure SVG takes full width of container */
            height: auto; /* Maintain aspect ratio */
            max-height: calc(100% + 20px); /* Limit max height to container height plus offset */
            border-bottom: 1px solid #F1F1F1;
          }
          
          &:before,
          &:after {
            content: '';
            position: absolute;
            top: 0px;
            height: 100%;
            width: calc(50% - var(--curve-width) / 2);
            background-color: #fff;
            border: 1px solid #F1F1F1;
          }
          &:before {
            left: 0px;
            border-right: none;
            border-radius: 12px 0px 0px 12px;
    
    
          }
          &:after {
            right: 0px;
            border-left: none;
            border-radius: 0px 12px 12px 0px;
          }
        }
      } 
      /* The navigation links, placed on top of .toolbat__bg */x
      .icon-active{
        display: none;
      }
      .tab-bar__item.active{
        .icon-active{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .icon{
        color: var(--c_secondary) ;
        font-weight: 700;
    
          .default-svg{
            display: none !important;
          }
        }
     
      }
      .tab-bar {
        position: relative;
        z-index: 8;
        display: flex;
        height: 100%;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: flex-start;
        
        &__item {
          position: relative;
          flex: auto;
          display: flex;
          align-items: center;
          justify-content: center;
    
        }
        p{
          position: absolute;
          bottom: -10px;
          font-weight: 700;
    
        }
        a{
          text-decoration: none;
        }
      }
     
      .icon-active{
        display: none;
      }
      /* Add button */
      .add-button {
        //Position
        position: absolute;
        left: 50%;
        top: 0px;
        transform: translate(-50%, -50%);
        //Look/layout
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--addbutton-size);
        height: var(--addbutton-size);
        border-radius: 50%;
        border: 1px solid #1E6B44;
        z-index: 10;
    
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background: var(--c_primary_two);
    box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.10) inset, 4px 4px 10px 0px rgba(0, 0, 0, 0.25) inset;
      }
      
      /* Demo icon */
      .icon {
        width: 28px;
        // height: 28px;
        // border: 1px solid hsla(0, 0%, 0%, 20%);
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 2px;
        font-weight: 400;
        cursor: pointer;
        color: var(--bg_darkGray );
    
        &.active{
          .icon-active{
            display: flex;
          }
          
        }
        
      }
    //   nav {
    //     color: var( --bg_light_2);
    //     background-color: #ee6e73;
    //     width: 100%;
    //     height: 56px;
    //     line-height: 56px;
    // }





      @media screen and (max-width: 1260px) {
        .jelahjah-container{
          z-index: 2;
          align-items: center !important;
          padding-left: 20px !important;
            padding-right: 20px !important;
          justify-content: center !important;

          .jelahjah-main-heading{
              h1{
                
              }
              p{
                  
              }
          }
          .filter-container{
              
              gap: 16px;
              .artical-input{
                
                  p{
                    font-size: var(--fs_xsm)  !important;
                  }
              }
              .filter-wrap{
                gap: 8px !important;
                overflow: auto !important;

                  .filter{
                   
                    height: 39px !important;
                    padding: 0px 16px 0px 12px  !important;
                      h1{
                        font-size: 16px !important;
                      }
                      p{
                        
                        font-size: var(--fs_xsm2) !important;
                        
                        
                      }
                      &:hover{
                          p{
                            font-size: var(--fs_xsm2) !important;
                          }
                         
                      }
                  }
                  .active{
                    height: 39px !important;
                    padding: 0px 16px 0px 12px  !important;
                      h1{
                        font-size: 16px !important;
                      }
                      p{
                        font-size: var(--fs_xsm2) !important;
                          
                      }
                      
                  }
                  
              }
              
          }
          .tab-content{
            
              
              .popular-article-container{
                width: 100% !important;
                
  
                  h1{
                     
                  }
                  .popular-article-wrap{
                    flex-direction: column !important;
                    width: 100% !important;
                    
                    a{
                      width: 100%;
                    }
                      .popular-article-1{
                        width: 100% !important;
                          
                          img{
                            width: 100% !important;
                            // height: 100% !important;
                            object-fit: cover !important;
                          }
                          .content{
                            width: 100% !important;
                              
                              .side-pill{
      
                              }
                              .info{
                            width: 100% !important;
                                 
                                  h1{
                                    
                                  }
                                  p{
                                    
                                  }
                              }
                          }
                      }
                      .artical-card-container{
                        z-index: 1;
                        flex-direction: row !important;
                        gap: 16px !important;
                        

                        width: 100%;
                        overflow:  auto !important;


                        
                          .artical-card-wrap{
                        // flex-wrap: wrap !important;

                              .popular-article{
                                  
      
                                  img{
                                    width: 220px !important;
                                    object-fit: cover !important;
                                    height: 275px !important;
                                  }
                                  .content{
                                     width: 100% !important;
                                      gap: 100px !important;
                                      .side-pill{
              
                                      }
                                      .info{
                                     width: 100% !important;
                                         
                                          h1{
                                            font-size: var(--fs_xsm) !important;
                                          }
                                          p{
                                            font-size: var(--fs_xsm2) !important;
                                          }
                                      }
                                  }
                              }  
                          }
                      }
                  }
                  
              }
              .sport-artical-container{
                width: 100% !important;
                //   padding-left: 20px !important;
                // padding-right: 20px !important;
                  .title-wrapper{
                      h1{
                          
                      }
                      .arow-button-container{
                          display: none !important;
  
                      }
                  }
                  .sport-card-wrapper{
                    width: 100% !important;
                overflow: auto !important;

  
                      .sport-card{
                         
  
                          img{
                         }
                         .info-wrap{
                            width: 100% !important;
                             
                            
                            width: 100% !important;
                                
                                 h1{
                                   
                                 }
                                 p{
                                     
                                 }
                         }
                      }
  
                  }
              }
              .lifehack-artical-container{
                width: 100% !important;
                //   padding-left: 20px !important;
                // padding-right: 20px !important;

                  .title-wrapper{
                      h1{
                          
                      }
                      .arow-button-container{
                        display: none !important;
  
                      }
                  }
                  .lifehack-card-wrapper{
                    width: 100% !important;
                overflow: auto !important;

  
                      .lifehack-card{
                         
  
                          img{
                         }
                         .info-wrap{
                            width: 100% !important;
                             
                            
                            width: 100% !important;
                                
                                 h1{
                                   
                                 }
                                 p{
                                     
                                 }
                         }
                      }
  
                  }
              }
              
          }
          .decoration-img-1{
            display: none !important;
            img{
               
            }
        }
        .decoration-img-2{
          z-index: -1;
          width: 342px !important;
          height: 453px !important; 
            img{
              width: 342px !important;
          z-index: -1;

              height: 453px !important; 
            }
        }
        .decoration-img-8{
          display: none !important;
            
            img{
              
            }
            .leaf3{
                
            }
        }
          
         
          
         
        }
      }
      @media screen and (max-width: 640px) {


        .toolbar{
          display: block !important;
          
        }
        .jelahjah-container{
         

          .jelahjah-main-heading{
            max-width: 260px !important;
            width: 260px !important;
              h1{
                font-size: var(--fs_xsm) !important;
              }
              p{
                font-size: var(--fs_md) !important;
              
              }
          }
          .filter-container{
              flex-direction: column !important;
              align-items: flex-start !important;
              width: 320px !important;
              gap: 16px;
              .input-container{
                width: 320px !important;
                height: 46px !important;
                  input {
                    font-size: var(--fs_xsm)  !important;
                  }
              }
              .filter-wrap{
                gap: 8px !important;
                width: 100% !important;
                  .filter{
                    height: 39px !important;
                    padding: 0px 16px 0px 12px  !important;
                    
                      h1{
                        font-size: var(--fs_sm) !important;
                      }
                      p{
                        
                        font-size: var(--fs_xsm2) !important;
                        
                        
                      }
                      &:hover{
                          p{
                            font-size: var(--fs_xsm2) !important;
                          }
                         
                      }
                  }
                  .active{
                    height: 39px !important;
                    padding: 0px 16px 0px 12px  !important;
                      h1{
                        font-size: var(--fs_sm) !important;
                      }
                      p{
                        font-size: var(--fs_xsm2) !important;
                          
                      }
                      
                  }
                  
              }
              
          }
          .tab-content{
              
              .popular-article-container{
                  h1{
                    font-size: var(--fs_md) !important;
                  }
                  .popular-article-wrap{

                      .popular-article-1{
                          
                          img{
                            
                          }
                          .content{
                              
                              .side-pill{
      
                              }
                              .info{
                                 
                                  h1{
                                    font-size: var(--fs_md) !important;
                                  }
                                  p{
                                    font-size: var(--fs_xsm) !important;
                                  }
                              }
                          }
                      }
                      .artical-card-container{
                        


                        
                          .artical-card-wrap{

                              .popular-article{
                                  
      
                                  img{
                                    
                                  .content{
                                      
                                      .side-pill{
              
                                      }
                                      .info{
                                         
                                          h1{
                                            font-size: var(--fs_xsm) !important;
                                          }
                                          p{
                                            font-size: var(--fs_xsm2) !important;
                                          }
                                      }
                                  }
                              }  
                          }
                      }
                      }
                  
                  }
                }
              .sport-artical-container{
                        
              .title-wrapper{
                  h1{
                    font-size: var(--fs_md) !important;
                  }
                  .arow-button-container{


                  }
              }
              .sport-card-wrapper{

                  .sport-card{
                    

                      img{
                    }
                    .info-wrap{
                            
                            h1{
                              font-size: var(--fs_sm) !important;
                            }
                            p{
                              font-size: var(--fs_xsm) !important;
                            }
                    }
                  }

              }
           
                }
              .lifehack-artical-container{
                        
              .title-wrapper{
                  h1{
                    font-size: var(--fs_md) !important;
                  }
                  .arow-button-container{


                  }
              }
              .lifehack-card-wrapper{

                  .lifehack-card{
                    

                      img{
                    }
                    .info-wrap{
                            
                            h1{
                              font-size: var(--fs_sm) !important;
                            }
                            p{
                              font-size: var(--fs_xsm) !important;
                            }
                    }
                  }

              }
           
                }
          .decoration-img-1{
            img{
               
            }
        }
        .decoration-img-2{
            img{

            }
        }
        .decoration-img-8{
            
            img{
              
            }
            .leaf3{
                
            }
        }
          
         
          
         
        }
        }
        .footer-main{
          display: none !important;
        }

      }
}